html {
    background-color:azure;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 70%;
}

img {
    max-height: 500px;
    max-width: 300px;
    margin: 10px auto;
}

#button {
    margin: 10px auto;
    display: block;  
}